<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:200,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
  </head>

<div class="padre">
    <header class= "header">
        
        <div class= "menu">
            <div class="logo">
                <a href="index.html">
                    <img src="/img/login/logotipo.png" alt= "" >
                </a>
                <!-- <ul class= "dropdown-content">
                    <li><a>About us</a></li>
                    <li><a>Consejos</a></li>
                    <li><a>Contacto</a></li>
                </ul> -->
            </div>
            <div class="descarga">
                <a target="_blank" href="https://www.behance.net/gallery/43584021/NOMADAYS-app" class="descargar">Descarga la app</a>
            </div>
            <div class="login">
                <% if (locals.user) { %>
                    <a href="/profile" class="login"><%= locals.user.name %></a>
                <% } else {  %> 
                    <a href="/auth/login" class="login">Entrar</a>
                <% } %>    
                
            </div>
            <div class="logout">
                    <a href="/auth/logout" class="logout">logout</a>
            </div>
            <div class="hamburguesa">
                <a href="index.html">
                    <img src="/img/login/hamburguer-menu.png" alt= "" >
                </a>
            </div>
        </div>
        <div class="frase-principal">
            <h1>El nuevo concepto de Viajar</h1> 
                <h2>La primera plataforma organizadora de viajes "low cost" para mochileros</h2>   
            <div class="trip">
                <div class="origen">Origen</div>
                <div class="destiny">Destino</div>
                <div class="llegada">Llegada</div>
                <div class="salida">Salida</div>
                <button class="buscar"><p>Buscar</p></button>
            </div>
        </div>
    </header>
      
    <section id="scroll" class="demo">
        <a href="#scroll"><span></span></a>
    </section>

    <div class="travel">
        <div class="discover">
            <img class= "adventure" src="/img/login/adventure-btt.png" alt= "" >
            <img class= "relax" src="/img/login/relax-btt.png" alt= "" >
            <img class= "urban" src="/img/login/urban-btt.png" alt= "" >
            <img class= "lost" src="/img/login/lost-btt.png" alt= "" >
            <img class= "monument" src="/img/login/monument-btt.png" alt= "" >
        </div>
        
        <div class="cities">
            <div class="city roma">
                <div class="nameCity">Roma</div>
                <img class= "icon" src="/img/login/monument.png" alt= "" >
            </div>
            
            <div class="city berlin">
                <div class="nameCity">Berlín</div>
                <img class= "icon" src="/img/login/urban.png" alt= "" >
            </div>

            <div class="city atenas">
                <div class="nameCity">Atenas</div>
                <img class= "icon" src="/img/login/relax.png" alt= "" >
            </div>

            <div class="city paris">
                <div class="nameCity">París</div>
                <img class= "icon" src="/img/login/urban.png" alt= "" >
            </div>

            <div class="city oslo">
                <div class="nameCity">Oslo</div>
                <img class= "icon" src="/img/login/lost.png" alt= "" >
            </div>

            <div class="city amsterdam">
                <div class="nameCity">Amsterdam</div>
                <img class= "icon" src="/img/login/adventure.png" alt= "" >
            </div>
        </div>
        <button class="more">+ rincones por descubrir</button>
    </div>
    <div class="philosophy">

        <div class="first about">
            <div class="nomadays">
                <h2>NOMADAYS</h2>
                <p>Creada en el 2016, surgió para promover y facilitar un estilo de viaje auténtico, alejado del turismo masivo que conocemos, consiguiendo así una experiencia única al viajar de la forma más simple y natural, sumergiendose en aquellos destinos a los que se viaja, pudiendo vivir como un local con lo prescindible, de manera divertida y original . </p>
            </div>
            <a href="index.html">
                <img src="/img/login/about.jpg" alt= "" >
            </a>
        </div>

        <div class="first values">
            <a href="index.html">
                <img src="/img/login/values.jpg" alt= "" >
            </a>
            <div class="value">
                <h2>Valores</h2>
                <p>¿Cúales son nuestros valores?, seguramente coincidamos en muchos. Creemos en un turismo diferente al de masas. Nos enfocamos en  viajes con poco presupuesto, deshaciéndose de lo innecesario para vivir una verdadera experiencia, sumergiéndose en las diferentes culturas que nos rodean. Viaja de la manera más auténtica y disfruta descubriendo, bienvenido. </p>
            </div>
            
        </div>

        <div class=" first nomads">
            <div class="nomadas">
                <h2>NÓMADAS</h2>
                <p>Algunos de ellos viajan para conocer nuevas culturas, otros para conocer gente y otros para encontrarse a si mismos y olvidarse del resto. A pesar de que nuestros nómadas puedan tener objetivos diferentes una cosa es cierta, todos ellos viven experiencias auténticas a través de nuestra App. Y te invitamos a que los conozcas, aprende de ellos y coge inspiración <span>aquí</span>.</p>
            </div>
            <a href="index.html">
                <img src="/img/login/nomads.jpg" alt= "" >
            </a>
        </div>
    </div>
    <footer class="footer">
        <div class="info">
            <a  href="" class="contacto">Contacto</a>
            <a  href="" class="condiciones">Condiciones legales</a>
            <a  href=""class="work">Trabaja con nosotros</a>
        </div>
        <div class="terminos"><p>© Nomadays  S.L. All rights reserved</p></div>
        <div class="rrss">

                        <a class="ig" href="login.html">
                            <img src="/img/login/icono1.png" alt= "" >
                        </a>



                         <a class="pn" href="login.html">
                             <img src="/img/login/icono2.png" alt= "" >
                         </a>



                        <a class="fb" href="login.html">
                             <img src="/img/login/icono3.png" alt= "" >
                        </a>

        </div>

    </footer>
  </div>