html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

*{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
  }

  body{
      background: url("/img/login/gradient.jpg");
  }

  input{
    padding-left: 10px;
  }

  .container-fluid{
      padding:0;
  }

  .col-md-12{
    margin-top: 40px;
  }

  h5{
      color:rgb(158, 84, 226);
  }

  input:focus{
    outline: none;
}

input{
   height: 40px;
}


.description{
    width: 700px; 
}


.style{
    margin-left: 60px;
}


.search{
   
    width: 100px;
    height: 35px;
    font-weight: 500;
    border-radius: 10px;
    border-style: none;
    color: #fff;
    margin-left: 10px;
    background: #00D76D;
}

.search:hover{
    border: 1.5px solid #00D76D;
    color: #00D76D;
    background: #fff;
    border: 1.5px solid #00D76D;
    text-decoration: none;
}