*{
    text-decoration: none;
    font-family: Avenir, sans-serif;
    letter-spacing: 1.5px;
  }

  body{
      margin:none;
      padding: none;
  }
  
  padre{
    display:flex;
    flex-flow: column nowrap;
  }
  
    .header{
        
        background: url("/img/login/background-login.jpg");
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display:flex;
        flex-flow: column nowrap;
    }
        .menu{
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
               
                flex: 1 1 auto;
                display: flex;
                align-self: center; 
            }
  
                .logo img{
                    
                    height: 50px;
                    margin:10px 0 20px 70px;
                }
            
            .descarga{
                /* flex: 1 1 auto; */
                display:flex;
                align-self: center;
                margin-top:10px; 
            }
                .descarga a {
                    margin:0;
                    color:#fff;
        
                }
  
                .descarga a:hover{
                    text-decoration: none;
                    color:#2BFF88;
                }

            .login{
                /* flex: 1 1 auto; */
                display:flex;
                align-self: center;
                margin-top:10px; 
            }
                .login a {
                    margin:70px;
                    color:#fff;
        
                }

                .login a:hover{
                    text-decoration: none;
                    color:#2BFF88;
                }
            .hamburguesa{
                display: flex;
                align-self: center; 
            }
                .hamburguesa img{
                    height: 20px;
                    margin-right: 70px;
                }
        .frase-principal{
            margin-top: 150px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
            h1{   
                color: #fff;
                text-transform: uppercase;
                /* width: 800px; */
                text-align: center; 
                font-weight: lighter;
                font-size: 45px;  
                letter-spacing: 2px;
                font-weight: 500;
                margin: 0; 
            }
    
            h2{
                color: #fff;
                text-align: center;
                width: 630px; 
                font-size: 42px;
                font-family: 'Neuton', serif;
                font-weight: lighter;
                text-transform: none; 
                margin-top: 0;
                margin-bottom: 80px;
                 
            }

        .trip{
            display: flex;
            flex-flow: row nowrap;
            background-color: rgba(255, 255, 255, 0.7);
            height: 45px;
            width: 565px; 
            margin:100px 0 50px 0;
            align-items: center;
            justify-content: space-between;
            text-transform: none;
            padding-left: 30px;
        }
            .destino{
                display: flex;
                align-items: center;
                height: 30px;
                padding:0 25px;
                border-left: solid 2px rgba(158, 84, 226, 1);
                border-right: solid 2px rgba(158, 84, 226, 1);
            }
            .buscar {
                width: 100px;
                height: 45px;
                background: rgb(30, 184, 96);
                border-style: none;
            }

                .buscar p{
                    margin-top: 14px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 12px;
                }
            .buscar:hover{
                background: rgba(133, 64, 197, 0.8);
            }


            /* Hasta @keyframes es todo el boton de scroll */
  
            .demo a {
                bottom: 10px;
                left: 50%;
                z-index: 2;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                transition: opacity .3s;
            }
            
            #scroll a span {
                position: absolute;
                left: 50%;
                width: 24px;
                height: 24px;
                bottom: 30px;
                margin-left: -12px;
                border-left: 3px solid rgba(158, 84, 226, 1);
                border-bottom: 3px solid rgba(158, 84, 226, 1);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-animation: sdb05 1.5s infinite;
                animation: sdb05 1.5s infinite;
                box-sizing: border-box;
            }
            
            @keyframes sdb05 {
                0% {
                transform: rotate(-45deg) translate(0, 0);
                opacity: 0;
                }
                50% {
                opacity: 1;
                }
                100% {
                transform: rotate(-45deg) translate(-20px, 20px);
                opacity: 0;
                }
            }

            