html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

*{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
  }

  body{
      margin:none;
      padding: none;
  }
  
  padre{
    display:flex;
    flex-flow: column nowrap;
  }
  
    .header{
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display:flex;
        flex-flow: column nowrap;
    }
        .menu{
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
               
                flex: 1 1 auto;
                display: flex;
                align-self: center; 
            }
  
                .logo img{
                    
                    height: 50px;
                    margin:10px 0 20px 70px;
                }


            .descarga{
                /* flex: 1 1 auto; */
                display:flex;
                align-self: center;
                margin-top:10px; 
            }
                .descarga a {
                    margin:0;
                    color:rgb(41, 41, 41);
                }
  
                .descarga a:hover{
                    text-decoration: none;
                    color:#2BFF88;
                }

            .login{
                /* flex: 1 1 auto; */
                display:flex;
                align-self: center;
                margin-top:10px; 
            }
                .login a {
                    margin:70px;
                    color:rgb(41, 41, 41);
        
                }

                .login a:hover{
                    text-decoration: none;
                    color:#2BFF88;
                }
            .hamburguesa{
                display: flex;
                align-self: center; 
            }
                .hamburguesa img{
                    height: 20px;
                    margin-right: 70px;
                }
        .frase-principal{
            margin-top: 150px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        .profileInfo{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-content: center;
            margin-top: 100px;
        }
        
        .user{
            margin-left: 100px;
            width: 16%;
        }
        
        .aboutMe{
            display: flex;
            flex-flow: column nowrap;
            align-content: center;
            justify-content: initial;
            flex: 2 1 auto;
            margin-top: 30px;
            line-height: 3;
        }
        
        .add{
            border: none;
            padding: 0;
        }
        
        .add p{
            display: flex;
            border: none;
            font-weight: 400;
            color: #00D76D;
        }
        
        .add p:hover{
            color: rgb(158, 84, 226); 
        }
        
        .picture{
            width: 72%;
            margin:0;
        }
        
        .edit{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            width: 160px;
            height: 35px;
            font-weight: 500;
            border-radius: 10px;
            border-style: none;
            color: #fff;
            background: #00D76D;
            border: 2px solid #00D76D;
        }
        
        .edit p{
            padding-top: 4px;
            width: 160px;
            height: 20px;
        }
        
        .edit:hover{
            border-radius: 10px;
            border: 1.5px solid #00D76D;
            color: #00D76D;
            background: #fff;
        }

        .edit > p:hover{
            font-weight: 500 !important;
        }

        
        .hobbies{
        
            margin: 10px 300px 90px 300px;
            /* font-weight: 300; */
            text-align: center;
        }
    .tittle{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        font-weight: 600;
        font-size: 22px;
        color: rgb(53, 53, 53);
        margin-bottom: 60px;
    }

    .myTrips{
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        justify-content: center;
        margin-bottom: 25px;
    }

    .field{
        font-weight: 500;
        margin-bottom: 25px;
    }

    .place{
        margin: 0 3%;
    }

    .trip{
        margin: 0 3%;
    }

    .first{
        margin-bottom: 30px;
    }

    .second{
        display: flex;
        flex-flow: column nowrap;
        margin-top: 12px;
        margin-left:1%;
        margin-right: 1%; 
    }

    .one{
        border-radius: 8px;
        border-style: none;
        border: 1.5px solid rgb(158, 84, 226);
        color: rgb(158, 84, 226);
        background: #fff;
        margin-bottom: 15px;
    }

    .one:hover{  
        color: #fff;
        background: #00D76D;
        border: 1.5px solid #00D76D;
        
    }

    .two{
        border-radius: 8px;
        border-style: none;
        border: 1.5px solid rgb(243, 66, 66);
        color: rgb(243, 66, 66);
        background: #fff;
        margin: 10px 0 20px 0;
    }

    .two:hover{
        color: #fff;
        background: rgb(243, 66, 66);
        border: 1.5px solid rgb(243, 66, 66);
    }


    .button {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 35px;
        font-weight: 500;
        border-radius: 10px;
        border-style: none;
        color: #fff;
        background: #00D76D;
        border: 1.5px solid #00D76D;
        margin: 0 0 120px 47%;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
      }
      .button:hover {
        border-radius: 10px;
        border: 1.5px solid rgb(158, 84, 226);
        color: rgb(158, 84, 226);
        background: #fff;
      }
      
      .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
      }
      .overlay:target {
        visibility: visible;
        opacity: 1;
      }
      
      .popup {
        margin: 70px auto;
        /* padding: 20px; */
        background: #fff;
        border-radius: 5px;
        width: 80%;
        height: 80%;
        position: relative;
        transition: all 5s ease-in-out;
      }

      .popup h2 {
        margin-top: 0;
        color: #333;
      }
      .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: rgb(63, 63, 63);
      }
      .popup .close:hover {
        color: #06D85F;
      }
      .popup .content {
        position: absolute;
        top: 40px;
        border:solid 1.5px #06D85F;
        border-radius: 10px;
        left: 100px;
        max-height: 30%;
        height: 40px;
        width: 30%;
        overflow: auto;
        
      }
      .content input{
        display: flex;
        justify-content: center;
        border:none;
        background: none;
        padding: 0 40px;
        width: 120%;
        height: 100%;
      }

      .content input:focus{
        outline: none; 
      }

      .popup .new{
        position: absolute;
        top: 40.5px;
        height: 41px;
        right:50%;
      }

      .map{
          bottom: 0px;
          padding: 0;
          width: 100%;
          height: 80%;
          position: absolute;
          background-color: #2BFF88;
      }
      
      @media screen and (max-width: 700px){
        .box{
          width: 70%;
        }
        .popup{
          width: 70%;
        }
      }



    .new{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 35px;
        font-weight: 500;
        border-radius: 10px;
        border-style: none;
        color: #fff;
        background: #00D76D;
        border: 1.5px solid #00D76D;
        margin: 0 0 120px 47%;
        
    }

    .new-edit{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 35px;
        font-weight: 500;
        border-radius: 10px;
        border: 1.5px solid rgb(158, 84, 226);
        color: rgb(158, 84, 226);
        background: #fff;
        border: 1.5px solid rgb(158, 84, 226);
        margin: 0 0 20px 47%;
    }

    .new-edit:hover{
        border-style: none;
        color: #fff;
        background: rgb(158, 84, 226);
        text-decoration: none;
    }

    
    .new:hover{
       
        border: 1.5px solid #00D76D;
        color: #00D76D;
        background: #fff;
        text-decoration: none;
        outline: inherit;
    }

    .myPlaces{
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        justify-content: center;
        margin-bottom: 25px;
    }

    


    .footer{
        background:rgba(32, 32, 32, 1);
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
        /* bottom: 0;
        left: 0;
        right: 0;
        position: fixed; */
    }
        .info {
            /* background: mediumslateblue; */
            /* flex: 1 1 auto; */
            height: 100px;
            display: flex;
            flex-flow: row;
            padding-left:50px;
        }
            .info a{
                display: flex;
                align-items: center;
                color: #fff;
                font-weight: lighter;
                font-size: 14px;
                /* margin-top: 10px; */
                margin-right: 20px;
            }

            .info a:hover{
                color:rgba(167, 104, 226, 1);
                text-decoration: none;
            }

            .terminos{

                display: flex;
                flex-flow: row nowrap;
                flex: 1 1 auto;
                align-items: center;
                justify-content: center;
                color:#fff;
                font-weight: lighter;
                font-size: 14px;
                flex: 1 1 auto;
                height: 95px;
            }
                .terminos p{
                    display: flex;
                    margin: 0px;
                }

                .info a .work{
                    margin:0;
                }

        .rrss{
            flex: 1 1 auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-right: 70px;
            justify-content: space-around;
            width: 10px;

        }
            .ig img{
                height: 30px;
                margin: 10px;
            }

            .pn img{
                height: 30px;
                margin: 10px;
                }
            .fb img{
                height: 30px;
                margin: 10px;
                }
