*{
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

padre{
    display:flex;
    flex-flow: column wrap;
}

    .header{

        background: url("/img/login/background-login.jpg");
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display:flex;
        flex-flow: column nowrap;

    }
        .menu{
            /* background: rgba(0, 0, 0, 0.2); */
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{

                flex: 1 1 auto;
                display: flex;
                align-self: center;
            }

                .logo img{

                    height: 50px;
                    margin:10px 0 20px 70px;
                }

            .descarga{
                /* flex: 1 1 auto; */
                display:flex;
                align-self: center;
                margin-top:10px;
            }
                .descarga a {
                    margin-right:120px;
                    color:#fff;

                }

                .descarga a:hover{
                    text-decoration: none;
                    color:rgba(158, 84, 226, 0.8);
                }

            .hamburguesa{
                /* flex: 1 1 auto; */
                display: flex;
                align-self: center;
            }
                .hamburguesa img{
                    height: 20px;
                    margin-right: 70px;
                }

                .hamburguesa img:hover{

                }

        .frase-principal{
            /* background: rgba(175, 238, 238, 0.3); */
            margin-top: 80px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
            h1{

                color: #fff;
                text-transform: uppercase;
                width: 550px;
                text-align: center;
                font-size: 32px;
                letter-spacing: 2px;
                font-weight: bold;
            }

            h1 span{
                font-size: 32px;
                letter-spacing: 8px;
            }
            .name{
                background: rgba(255, 255, 255, 0.8);
                width: 300px;
                height: 32px;
                border-radius: 20px;
                margin-top: 50px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

            }
                .name span{
                    display: flex;
                    font-size: 16px;
                    color: rgba(80, 80, 80, 0.7);
                }

            .usuario{
                background: rgba(255, 255, 255, 0.8);
                width: 300px;
                height: 32px;
                border-radius: 20px;
                margin-top: 30px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

            }
                .usuario span{
                    display: flex;
                    font-size: 16px;
                    color: rgba(80, 80, 80, 0.7);
                }

            .contraseña{
                background: rgba(255, 255, 255, 0.8);
                width: 300px;
                height: 32px;
                border-radius: 20px;
                margin-top: 30px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }

            .contraseña span{
                display: flex;
                font-size: 16px;
                color: rgba(80, 80, 80, 0.7);
            }

            .confirm{
                background: rgba(255, 255, 255, 0.8);
                width: 300px;
                height: 32px;
                border-radius: 20px;
                margin-top: 30px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

            }
                .confirm span{
                    display: flex;
                    font-size: 16px;
                    color: rgba(80, 80, 80, 0.7);
                }

            .enter {
                margin-top: 30px;
                width: 120px;
                height: 35px;
                border-radius: 4px;
                background: rgba(32, 32, 32, 0.7);
                border-style: none;
                margin-bottom: 130px;
            }

                .enter p{
                    margin-top: 9px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 12px;
                }
            .enter:hover{
                background: rgba(133, 64, 197, 0.8);
            }

    .footer{
        background:rgba(32, 32, 32, 1);
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
    }
        .info {
            /* background: mediumslateblue; */
            /* flex: 1 1 auto; */
            height: 100px;
            display: flex;
            flex-flow: row;
            padding-left:50px;
        }
            .info a{
                display: flex;
                align-items: center;
                color: #fff;
                font-weight: lighter;
                font-size: 14px;
                /* margin-top: 10px; */
                margin-right: 20px;
            }

            .info a:hover{
                color:rgba(167, 104, 226, 1);
                text-decoration: none;
            }

            .terminos{

                display: flex;
                flex-flow: row nowrap;
                flex: 1 1 auto;
                align-items: center;
                justify-content: center;
                color:#fff;
                font-weight: lighter;
                font-size: 14px;
                flex: 1 1 auto;
                height: 95px;
            }
                .terminos p{
                    display: flex;
                    margin-bottom: 0;

                }

        .rrss{
            flex: 1 1 auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-right: 70px;
            justify-content: space-around;
            width: 10px;

        }
           .ig img{
               height: 30px;
               margin: 10px;
            }

            .pn img{
                height: 30px;
                margin: 10px;
                }
            .fb img{
                height: 30px;
                margin: 10px;
                }
