html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

*{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
}

padre{
  display:flex;
  flex-flow: column nowrap;
}

  .header{
      
      background: url("/img/login/yeah.jpg");
      background-position: center;
      background-attachment: contain;
      background-size: cover;
      display:flex;
      flex-flow: column nowrap;
  }
      .menu{
          /* background: rgba(0, 0, 0, 0.2); */
          display: flex;
          flex-flow: row nowrap;
          height: 100px;
          align-items: center;
      }
          .logo{
             
              flex: 1 1 auto;
              display: flex;
              align-self: center; 
          }

              .logo img{
                  
                  height: 50px;
                  margin:10px 0 20px 70px;
              }
          
          .descarga{
              /* flex: 1 1 auto; */
              display:flex;
              align-self: center;
              margin-top:10px; 
          }
              .descarga a {
                  margin:120px;
                  color:#fff;
      
              }

              .descarga a:hover{
                  text-decoration: none;
                  color:#2BFF88;
              }
              
          .hamburguesa{
              /* flex: 1 1 auto; */
              display: flex;
              align-self: center; 
          }
              .hamburguesa img{
                  height: 20px;
                  margin-right: 70px;
              }

              .hamburguesa img:hover{
                  
              }
      .frase-principal{
          /* background: rgba(175, 238, 238, 0.3); */
          margin-top: 50px;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          height: 80%;
      }

      .frase-principal form{
        /* background: rgba(175, 238, 238, 0.3); */
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
          h1{
              
              color: #fff;
              text-transform: uppercase;
              width: 450px;
              text-align: center; 
              font-weight: 600;
              font-size: 31px;  
              letter-spacing: 2px;
          }

          h1 span{
              font-size: 57px;
              letter-spacing: 6px;
              font-weight: 500;
              
             
          }
          .usuario{
              background: rgba(255, 255, 255, 0.8);
              width: 300px;
              height: 32px;
              border-radius: 20px;
              margin-top: 30px;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
              
          }

        .usuario input{
            display: flex;
            justify-content: center;
            border:none;
            background: none;
            padding: 0 40px;
            width: 120%;
            height: 100%;
        }

        .usuario input:focus{
            outline: none;  
        }

        .contrase単a input:focus{
            outline: none;  
        }

          .contrase単a input{
            border:none;
            background: none;
            width: 120%;
            height: 100%;
            padding: 0 40px;
        }
              .usuario span{
                  display: flex;
                  font-size: 16px;
                  color: rgba(80, 80, 80, 0.7);
              }
          .contrase単a{
              background: rgba(255, 255, 255, 0.8);
              width: 300px;
              height: 32px;
              border-radius: 20px;
              margin-top: 20px;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
          }

          .contrase単a span{
              display: flex;
              font-size: 16px;
              color: rgba(80, 80, 80, 0.7);
    
          }


          .remember{
              display: flex;
              flex-flow: column nowrap;
          }

          .recordar{
              /* background: mediumslateblue; */
              margin-top: 10px;
              color: #fff;
              font-size: 14px;
              display: flex;
              flex-flow: row nowrap;
              align-self: center;  
          }

          .recordar .square{
              width: 15px;
              height: 17px;
              border: #fff solid 1.5px;
              margin-right: 10px;
              display: flex;
              align-self: center;
              background: none;
              border-radius: 2px;
          }

          .square:hover{
              /* background: rgba(19, 19, 19, 0.7); */
              border: rgba(133, 64, 197, 0.8) solid 1.5px;
          }

          .recordar p{
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              margin-top: 15px;
          }
          .olvidaste{
              /* background: mediumslateblue; */
              height: 30px;
          }
              .olvidaste p{
                  display: flex;
                  flex-flow: column;
                  align-items: center;
                  color: #fff;
                  font-size: 14px;
              }
      

          .submit {
              margin-top: 20px;
              width: 100px;
              height: 35px;
              border-radius: 4px;
              background: rgba(32, 32, 32, 0.7);
              border-style: none;
              margin-bottom: 10px;
            
          }

              .submit p{
                  margin-top: 6px;
                  color: #fff;
                  text-transform: uppercase;
                  font-size: 12px;
                  margin-bottom: 3px;
                  font-weight: 400;
              }
          .submit:hover{
              background: rgba(133, 64, 197, 0.8);
          }

          .registrarse{
              
              font-size: 14px;
              display: flex;
              flex-flow: row nowrap;
              align-self: center;
              color:#fff;
              margin-bottom: 108px;
          }

          .registrarse a{
              margin-left: 10px;
              color: #fff;
              display: flex;
             align-items: center;
          }

          .registrarse a:hover{
             text-decoration: none;
             color:#2BFF88;
             font-weight: 500;
          }


  .footer{
        background:rgba(32, 32, 32, 1);
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
    }
        .info {
            /* background: mediumslateblue; */
            /* flex: 1 1 auto; */
            height: 100px;
            display: flex;
            flex-flow: row;
            padding-left:50px;
        }
            .info a{
                display: flex;
                align-items: center;
                color: #fff;
                font-weight: lighter;
                font-size: 14px;
                /* margin-top: 10px; */
                margin-right: 20px;
            }

            .info a:hover{
                color:rgba(167, 104, 226, 1);
                text-decoration: none;
            }

            .terminos{

                display: flex;
                flex-flow: row nowrap;
                flex: 1 1 auto;
                align-items: center;
                justify-content: center;
                color:#fff;
                font-weight: lighter;
                font-size: 14px;
                flex: 1 1 auto;
                height: 95px;
            }
                .terminos p{
                    display: flex;
                    margin: 0;

                }

        .rrss{
            flex: 1 1 auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-right: 70px;
            justify-content: space-around;
            width: 10px;

        }
           .ig img{
               height: 30px;
               margin: 10px;
            }

            .pn img{
                height: 30px;
                margin: 10px;
                }
            .fb img{
                height: 30px;
                margin: 10px;
                }
