<head>
    <link rel="stylesheet" href="/stylesheets/home.css">
  </head>

<div class="padre">
    <header class= "header">

        <div class= "menu">
            <div class="logo">
                <a href="index.html">
                    <img src="/img/login/logotipo.png" alt= "" >
                </a>
            </div>
            <div class="descarga">
                <a href="" class="descargar">Descarga la app</a>
            </div>
            <div class="login">
                <a href="" class="login">Entrar</a>
            </div>
            <div class="hamburguesa">
                <a href="index.html">
                    <img src="/img/login/hamburguer-menu.png" alt= "" >
                </a>
            </div>
        </div>
        <div class="frase-principal">
            <h1>El nuevo concepto de Viajar</h1> 
                <h2>La primera plataforma organizadora de viajes "low cost" para mochileros</h2>   
            <div class="trip">
                <div class="origen">Origen</div>
                <div class="destino">Destino</div>
                <div class="llegada">Llegada</div>
                <div class="salida">Salida</div>
                <button class="buscar"><p>Buscar</p></button>
            </div>

        </div>
    </header>
    <div class="travel">
        <div class="descubrir">
            <div class="aventura">icono</div>
            <div class="relax">icono</div>
            <div class="monumentos">icono</div>
            <div class="ciudad">icono</div>
        </div>
        <div class="cities">
            <div class="city">
                <a href="index.html">
                    <img src="/img/login/roma.png" alt= "" >
                </a>
                <div class="nameCity"></div>
                <div class="icon"></div>
            </div>
            <div class="city">
                <a href="index.html">
                    <img src="/img/login/amsterdam.png" alt= "" >
                </a>
                <div class="nameCity"></div>
                <div class="icon"></div>
            </div>
            <div class="city">
                <a href="index.html">
                    <img src="img/oslo.png" alt= "" >
                </a>
                <div class="nameCity"></div>
                <div class="icon"></div>
            </div>
            <div class="city">
                <a href="index.html">
                    <img src="imgs/paris.png" alt= "" >
                </a>
                <div class="nameCity"></div>
                <div class="icon"></div>
            </div>
            <div class="city">
                <a href="index.html">
                    <img src="imgs/berlin.png" alt= "" >
                </a>
                <div class="nameCity"></div>
                <div class="icon"></div>
            </div>
            <div class="city">
                <a href="index.html">
                    <img src="imgs/atenas.png" alt= "" >
                </a>
                <div class="nameCity"></div>
                <div class="icon"></div>
            </div>
        </div>
        <button class="rincones">+ rincones por descubrir</button>
    </div>
    <div class="about">
        <div class="nomadays"></div>
        <a href="index.html">
            <img src="imgs/about.png" alt= "" >
        </a>
    </div>
    <div class="valores">
        <div class="valores-texto"></div>
        <a href="index.html">
            <img src="imgs/valores.png" alt= "" >
        </a>
    </div>
    <div class="nomadas">
        <div class="nomadas-texto"></div>
        <a href="index.html">
            <img src="imgs/nomadas.png" alt= "" >
        </a>
    </div>
    
    <footer class="footer">
        <div class="info">
            <a  href="" class="contacto">Contacto</a>
            <a  href="" class="condiciones">Condiciones legales</a>
            <a  href=""class="work">Trabaja con nosotros</a>
        </div>
        <div class="terminos"><p>© Nomadays  S.L. All rights reserved</p></div>
        <div class="rrss">

                        <a class="ig" href="login.html">
                            <img src="imgs/icono1.png" alt= "" >
                        </a>



                         <a class="pn" href="login.html">
                             <img src="imgs/icono2.png" alt= "" >
                         </a>



                        <a class="fb" href="login.html">
                             <img src="imgs/icono3.png" alt= "" >
                        </a>

        </div>

    </footer>
  </div>