<head>
    <link href="https://fonts.googleapis.com/css?family=Neuton:200,300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
  </head>

<div class="padre">
    <header class= "header">
        
        <div class= "menu">
            <div class="logo">
                <a href="index.html">
                    <img src="/img/login/logotipo.png" alt= "" >
                </a>
            </div>
            <div class="descarga">
                <a href="" class="descargar">Descarga la app</a>
            </div>
            <div class="login">
                <a href="" class="login">Entrar</a>
            </div>
            <div class="hamburguesa">
                <a href="index.html">
                    <img src="/img/login/hamburguer-menu.png" alt= "" >
                </a>
            </div>
        </div>
        <div class="frase-principal">
            <h1>El nuevo concepto de Viajar</h1> 
                <h2>La primera plataforma organizadora de viajes "low cost" para mochileros</h2>   
            <div class="trip">
                <div class="origen">Origen</div>
                <div class="destino">Destino</div>
                <div class="llegada">Llegada</div>
                <div class="salida">Salida</div>
                <button class="buscar"><p>Buscar</p></button>
            </div>
        </div>
    </header>
      
    <section id="scroll" class="demo">
        <a href="#scroll"><span></span></a>
    </section>

    <div class="travel">
        <div class="descubrir">
            <img class= "adventure" src="/img/login/adventure-btt.png" alt= "" >
            <img class= "relax" src="/img/login/relax-btt.png" alt= "" >
            <img class= "urban" src="/img/login/urban-btt.png" alt= "" >
            <img class= "lost" src="/img/login/lost-btt.png" alt= "" >
            <img class= "monument" src="/img/login/monument-btt.png" alt= "" >
        </div>
        <div class="cities">
            <div class="city roma">
                <div class="nameCity">Roma</div>
                <img class= "icon" src="/img/login/monument.png" alt= "" >
            </div>

            <div class="city berlin">
                <div class="nameCity">Berlín</div>
                <img class= "icon" src="/img/login/urban.png" alt= "" >
            </div>

            <div class="city atenas">
                <div class="nameCity">Atenas</div>
                <img class= "icon" src="/img/login/relax.png" alt= "" >
            </div>

            <div class="city paris">
                <div class="nameCity">París</div>
                <img class= "icon" src="/img/login/urban.png" alt= "" >
            </div>

            <div class="city oslo">
                <div class="nameCity">Oslo</div>
                <img class= "icon" src="/img/login/lost.png" alt= "" >
            </div>

            <div class="city amsterdam">
                <div class="nameCity">Amsterdam</div>
                <img class= "icon" src="/img/login/adventure.png" alt= "" >
            </div>
        </div>
        <button class="rincones">+ rincones por descubrir</button>
    </div>
    <div class="about">
        <div class="nomadays"></div>
        <a href="index.html">
            <img src="imgs/about.png" alt= "" >
        </a>
    </div>
    <div class="valores">
        <div class="valores-texto"></div>
        <a href="index.html">
            <img src="imgs/valores.png" alt= "" >
        </a>
    </div>
    <div class="nomadas">
        <div class="nomadas-texto"></div>
        <a href="index.html">
            <img src="imgs/nomadas.png" alt= "" >
        </a>
    </div>
    
    <footer class="footer">
        <div class="info">
            <a  href="" class="contacto">Contacto</a>
            <a  href="" class="condiciones">Condiciones legales</a>
            <a  href=""class="work">Trabaja con nosotros</a>
        </div>
        <div class="terminos"><p>© Nomadays  S.L. All rights reserved</p></div>
        <div class="rrss">

                        <a class="ig" href="login.html">
                            <img src="imgs/icono1.png" alt= "" >
                        </a>



                         <a class="pn" href="login.html">
                             <img src="imgs/icono2.png" alt= "" >
                         </a>



                        <a class="fb" href="login.html">
                             <img src="imgs/icono3.png" alt= "" >
                        </a>

        </div>

    </footer>
  </div>