<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<div class="padre">
  <header class= "header">
      
      <div class= "menu">
          <div class="logo">
              <a href="login.html">
                  <img src="/img/login/logotipo.png" alt= "" >
              </a>
          </div>
          <div class="descarga">
              <a href="" class="descargar">Descarga la app</a>
          </div>
          <div class="hamburguesa">
              <a href="login.html">
                  <img src="/img/login/hamburguer-menu.png" alt= "" >
              </a>
          </div>
      </div>
      <div class="frase-principal">
          <h1>Deja que el mundo te <span>sorprenda</span></h1>
          <div class="usuario"><span>usuario</span></div>
          <div class="contraseña"><span>contraseña</span></div>
          <div class="remember">
              <div class="recordar">
                  <button class="square"></button>
                  <p>recordar mis datos</p>
              </div>
              <div class="olvidaste">
                  <p>¿olvidaste la contraseña?</p>
              </div>
          </div>
          <button class="enter"><p>entrar</p></button>
          <div class="registrarse"><p>¿Aun no eres nómada?</p><a href="login.html">Regístrate</a></div>
      </div>
  </header>
  <footer class="footer">
      <div class="info">
          <a  href="" class="contacto">Contacto</a>
          <a  href="" class="condiciones">Condiciones legales</a>
          <a  href=""class="work">Trabaja con nosotros</a>
      </div>
      <div class="terminos"><p>© Nomadays  S.L. All rights reserved</p></div>
      <div class="rrss">
              
                      <a class="ig" href="login.html">
                          <img src="/img/login/icono1.png" alt= "" >
                      </a>
                  

              
                       <a class="pn" href="login.html">
                           <img src="/img/login/icono2.png" alt= "" >
                       </a>
                   
                   
                   
                      <a class="fb" href="login.html">
                           <img src="/img/login/icono3.png" alt= "" >
                      </a>    

      </div>
      
  </footer>
</div>
