<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
  </head>

    <div class="padre">
    <header class= "header">

        <div class= "menu">
            <div class="logo">
                <a href="/home">
                    <img src="/img/login/logotipo-white.png" alt= "" >
                </a>
            </div>
            <div class="descarga">
                <a target="_blank" href="https://www.behance.net/gallery/43584021/NOMADAYS-app" class="descargar">Descarga la app</a>
            </div>
            <div class="hamburguesa">
                <a href="/home">
                    <img src="/img/login/hamburguer-menu.png" alt= "" >
                </a>
            </div>
        </div>
        <div class="frase-principal">
            <h1>Comienza la experiencia <span>empieza la aventura</span></h1>
            <form action="/auth/register" method="post">

                <div class="name">
                    <input type="text" name="name" placeholder="Nombre" value="<%= typeof name!='undefined' ? name : '' %>" required>
                </div>
                <div class="usuario">
                    <input type="email" name="email"  placeholder="Email" value="<%= typeof email!='undefined' ? email : '' %>" required>
                </div>
                <div class="contraseña">
                    <input type="password" name="password"  placeholder="Password" value="<%= typeof password!='undefined' ? password : '' %>" required>
                </div>
                <div class="confirm">
                    <input type="password" name="password2"  placeholder="Confirma Password" value="<%= typeof password2!='undefined' ? password2 : '' %>" required>
                </div>
                <button class="submit"><p>Regístrate</p></button>   
            </form>
        </div>
    </header>
    <footer class="footer">
        <div class="info">
            <a  href="" class="contacto">Contacto</a>
            <a  href="" class="condiciones">Condiciones legales</a>
            <a  href=""class="work">Trabaja con nosotros</a>
        </div>
        <div class="terminos"><p>© Nomadays  S.L. All rights reserved</p></div>
        <div class="rrss">

                        <a class="ig" href="login.html">
                            <img src="/img/login/icono1.png" alt= "" >
                        </a>



                         <a class="pn" href="login.html">
                             <img src="/img/login/icono2.png" alt= "" >
                         </a>



                        <a class="fb" href="login.html">
                             <img src="/img/login/icono3.png" alt= "" >
                        </a>

        </div>

    </footer>
  </div>

