<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="email">Email</label>
  <input type="text" name="email" placeholder="your email">
  <br>
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Your password">
  <br>
  <% if ( typeof(error) != "undefined") { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <br>
  <button>Create account</button>
</form>